<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="40">
        <mat-toolbar class="login-title">Login</mat-toolbar>
        <form [formGroup]="loginForm" fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)="submit()">
            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <button mat-button type="submit">Login</button>
          </form>
          
    </mat-card>
</div>

<h1 style="color: blue;">{{response}}</h1>



